@import 'color';
@import 'font';
@import 'nav';
@import 'mixin';
//@import 'footer';
@import 'effet_contact';
body {
    margin: auto;
    overflow-x: hidden;
    overflow-y: scroll ;
}

 // scrollbar
 #style-1{
@include scrollbar($noir, $toniqueR, 10px !important);
}

#contact-bg{
    background: url('../images/fond_étoiles.svg');
    height: 97vh;
    max-width: 100%;
    position:relative;
}

#contact-bot-img{
    max-width: 100%;
    position:absolute;
    bottom:0;  
}
#tete-ganasis {
    position: relative;
    transform: translateY(-50%);
    
}
.rond{
  width: 70px; 
  height: 70px; 
  background: linear-gradient(90deg, #6FCFFF -17.04%, #7768FF 120.11%);
  -moz-border-radius: 50px; 
  -webkit-border-radius: 50px; 
  border-radius: 50px; 
}
.form-cont-card{
    height: 80vh !important;
    width: 40% !important;
    margin: auto;
}
footer {
    background-color: $dominante;
}

/* form */
.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.fullwidth {
    grid-column: span 2;
}
.fullmaxwidth{
    width: 100%;
    height: 100%;
}


input, textarea {
    padding: 5px;
}



.submit {
  margin-top: 45px;
  font-size: 30px;
  color: white;
  font-family: "vampire";
  border-radius: 100px;
  border: none;
  margin-top: 50px;
  font-size: 30px;
  position: relative;
  z-index: 1;
  background: linear-gradient(269.51deg, #44C8FF 14.26%, #7768FF 101.95%);
  display: flex;
  border-radius: 36px !important;
  padding-left: 3.65em !important;
  padding-right: 3.65em !important;
  text-transform: uppercase;
  transition: 0.5s;
}
.submit:hover {
  transform: scale(105%);
  transition: 0.5s;
}
.submit:hover::after {
  transition: 0.5s;
  opacity: 1;
  border: none;
}
.submit::after {
  border:none;
  content:"";
  width: 100%;
  height: 101%;
  border-radius: 100px;
  background: linear-gradient(to right, #44C8FF 14.26%, #7768FF 101.95%);
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  margin-left: -147px;
  margin-top: -6px;
}
 /* responsive */

@media only screen and (max-width: 1400px){
  #contact-bg{
    height: 100vh;
  }
  .form-cont-card{
    height: 90vh !important;
    width: 50% !important;
    margin: auto;
}
}
@media only screen and (max-width: 775px){
  #contact-bg{
    height: 90vh;
  }
  .form-cont-card{
    height: 80vh !important;
    width: 80% !important;
    margin: auto;
}
}
@media only screen and (max-width: 775px){
.container{
  text-align: center !important;
}
.list-group{
  justify-content: center;
}
}
footer{
  
  a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover, a:focus {
  text-decoration: none;
}

.form-control {
  background: #212529;
  border-color: #545454;
}

.form-control:focus {
  background: #212529;
}

footer {
  background: #212529;
}
li{
  padding-top: 5%;
}
.list-group-horizontal li{
  padding-top: 2%;
}
}