@import 'color';
@import 'font';
@import 'nav';
@import 'mixin';
@import 'footerbleu';

@import 'effet_contact';

body {
    margin: auto;
    overflow-x: hidden;
    overflow-y: scroll ;
}

 // scrollbar
 #style-1{
@include scrollbar($noir, $toniqueR, 10px !important);
}

#panier-bg{
    background: url('../images/fond_étoiles.svg');

    max-width: 100%;
}
#nuage{
    width: 110%;
    margin-left: -70px;
    height: 100%;
    z-index: -1;
}

#cont-pan{
    min-height: 90vh;
    margin-top: 10%;
}

footer {
    background-color: $dominante;
}
.votpan{
    font-size: 4rem;
}