@import 'color';
@import 'font';
@import 'nav';
@import 'mixin';
@import 'footerbleu';

@import 'effet_contact';

body {
    margin: auto;
    overflow-x: hidden;
    overflow-y: scroll ;
}

 // scrollbar
 #style-1{
@include scrollbar($noir, $toniqueR, 10px !important);
}

#contact-bg{
    background: url('../images/fond_étoiles.svg');
    height: 97vh;
    max-width: 100%;
    position:relative;
}