@import 'color';
@import 'font';
@import 'nav';
@import 'mixin';
@import 'footerbleu';

@import 'effet_contact';

body {
    margin: auto;
    overflow-x: hidden;
    
}
/* form */
.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.fullwidth {
    grid-column: span 2;
}
.fullmaxwidth{
    width: 100%;
    height: 100%;
}


input, textarea {
    padding: 5px;
}



.submit {
  margin-top: 45px;
  font-size: 30px;
  color: white;
  font-family: "vampire";
  border-radius: 100px;
  border: none;
  margin-top: 50px;
  font-size: 30px;
  position: relative;
  z-index: 1;
  background: linear-gradient(269.51deg, #44C8FF 14.26%, #7768FF 101.95%);
  display: flex;
  border-radius: 36px !important;
  padding-left: 3.65em !important;
  padding-right: 3.65em !important;
  text-transform: uppercase;
  transition: 0.5s;
}
.submit:hover {
  transform: scale(105%);
  transition: 0.5s;
}
.submit:hover::after {
  transition: 0.5s;
  opacity: 1;
  border: none;
}
.submit::after {
    border: none;
    content: "";
    width: 102%;
    height: 103%;
    border-radius: 100px;
    background: linear-gradient(to right, #44C8FF 14.26%, #7768FF 101.95%);
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    margin-left: -320px;
    margin-top: -6px;
}
 // scrollbar
 #style-1{
@include scrollbar($noir, $toniqueR, 10px !important);
}

#panier-bg{
    background: url('../images/fond_étoiles.svg');
    background-color: $dominante;
    max-width: 100%;
}
#vide{background-color: $blanc;}
.nuage{
    width: 110%;
    margin-left: -70px;
    height: 100%;
    z-index: -1;
}

#cont-pan{
    min-height: 90vh;
    margin-top: 10%;
}

footer {
    background-color: $dominante;
}
.votpan{
    font-size: 4rem;
}

.h12_pan{
    background-color: $dominante;
    padding: 2% 0px 1% 0px;
    color: $blanc;
}

.h1_pan{
    padding-left: 5%;
}
.bordercolor{
    border: solid 1px;
    border-color: #C4C4C4;
}

.pan_vide{
    height: 80vh;
    
}
#pan_null{
    height: 40%;
display: flex;
    align-items: center;
    justify-content: center;
}
#pan_null1{
 height: 10%;
    align-items: center;
    justify-content: center;
    color: #A9AAAC;
    text-align: center;
}
#vide_btn{
    height: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.btnvide {
  margin-top: 45px;
  font-size: 30px;
  color: white;
  font-family: "vampire";
  border-radius: 100px;
  border: none;
  margin-top: 50px;
  font-size: 30px;
  position: relative;
  z-index: 1;
  background: linear-gradient(269.51deg, #44C8FF 14.26%, #7768FF 101.95%);
  display: flex;
  border-radius: 36px !important;
  padding-left: 3.65em !important;
  padding-right: 3.65em !important;
  text-transform: uppercase;
  transition: 0.5s;
}
.btnvide:hover {
  transform: scale(105%);
  transition: 0.5s;
}
.btnvide:hover::after {
  transition: 0.5s;
  opacity: 1;
  border: none;
}
.btnvide::after {
    border: none;
    content: "";
    width: 102%;
    height: 103%;
    border-radius: 100px;
    background: linear-gradient(to right, #44C8FF 14.26%, #7768FF 101.95%);
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    margin-left: -193px;
    margin-top: -6px;
}

.table>:not(caption)>*>* {
    border-bottom-width: 0 !important;
}
.placolor{
    color: $secondaire !important;
}