/* Couleur */
/* Font */
@font-face {
  font-family: "planetN";
  src: url("../font/planetn.ttf") format("truetype"),
    url("../font/planetnital-webfont.woff2") format("woff2"),
    url("../font/planetnital-webfont.woff") format("woff");
}
@font-face {
  font-family: "planetNcond";
  src: url("../font/planetncompact.ttf") format("truetype");
}
@font-face {
  font-family: "nova";
  src: url("../font/FontsFree-Net-Proxima-Nova-Reg-It.otf") format("opentype");
}
@font-face {
  font-family: "arconregular";
  src: url("../font/Arcon-Regular.otf") format("opentype"),
    url("../font/arcon-regular-webfont.woff2") format("woff2"),
    url("../font/arcon-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "vampire";
  src: url("../font/vampirebrideexpand.ttf") format("truetype"),
    url("../font/vampirebrideexpand.otf") format("otf"),
    url("../font/vampirebrideexpand.ttf") format("truetype");
}
@font-face {
  font-family: "arconrounded-regular";
  src: url("../font/arcon-rounded-regular-webfont.woff2") format("woff2"),
    url("../font/arcon-rounded-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  background-image: url("../images/fontplateau.png");
  background-position: -3px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

section {
  margin-top: 96px;
  background: rgba(32, 35, 77, 0.75);
  width: 87%;
  height: 932px;
  border-radius: 50px;
  border: white solid 1px;
}

#chat {
  position: absolute;
  font-family: "vampire";
  color: white;
  top: 50px;
  right: -470px;
  height: 400px;
  width: 500px;
  background-color: rgb(91, 53, 230);
  opacity: 0.8;
  z-index: 10;
  cursor: pointer;
  transition: 0.3s;
}

#chat h3 {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 30pt;
}

#regles {
  position: absolute;
  font-family: "vampire";
  color: white;
  bottom: 50px;
  right: -290px;
  height: 400px;
  width: 320px;
  background-color: rgb(91, 53, 230);
  opacity: 0.8;
  z-index: 99;
  cursor: pointer;
  transition: 0.3s;
}

#regles h3 {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 30pt;
}

#regles p:nth-child(2) {
  margin-left: 35px;
  font-size: 13pt;
}

#regles p {
  font-size: 22pt;
  margin-top: -10px;
}

#regles li {
  margin-top: -10px;
  margin-left: 20px;
}

#regles li:nth-child(2) {
  margin-left: 50px;
}

#regles li:nth-child(4) {
  margin-left: 50px;
}

#regles li:nth-child(6) {
  margin-left: 50px;
}

#regles ul {
  margin-top: 40px;
}

#emplacement1 {
  border: 4px dashed rgb(255, 255, 255);
  border-style: d;
  width: 188px;
  height: 238px;
  margin-top: 0.9%;
  margin-left: 36%;
  border-radius: 20px;
}

#emplacement2 {
  border: 4px dashed rgb(255, 255, 255);
  width: 260px;
  height: 150px;
  margin-top: 1%;
  margin-left: 2%;
  border-radius: 20px;
}

#divemplacements {
  display: flex;
  flex-direction: row;
}

#pioche {
  z-index: 80;
  top: 120px;
  left: 480px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 240px;
  width: 190px;
  margin-left: 1.5%;
  margin-top: 1%;
  cursor: pointer;
  transition: 0.5s;
}

#pioche:hover {
  transform: scale(105%);
}

#pioche img {
  height: 240px;
  width: 190px;
  margin-left: 2%;
  margin-top: 0%;
  border-radius: 20px;
}

.carte img {
  height: 295px;
  width: 215px;
  border-radius: 20px;
}

.carte {
  display: flex;
  justify-content: center;
  align-items: center;
}

#cartesmain {
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  margin-top: 1%;
  margin-left: 23%;
}

#carte2 {
  margin-left: 3%;
}
#carte3 {
  margin-left: 3%;
}
#carte4 {
  margin-left: 3%;
}
#carte5 {
  margin-left: 3%;
}

#cartesmain2 {
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  margin-top: 4%;
  margin-left: 28%;
}

#carte2-2 {
  margin-left: -3%;
  z-index: 5;
  transform: scale(110%);
  margin-top: -3%;
  transition: 0.5s;
  cursor: pointer;
}
#carte2-3 {
  margin-left: -3%;
  z-index: 10;
  transform: scale(120%);
  margin-top: -5%;
  transition: 0.5s;
  cursor: pointer;
}
#carte2-4 {
  margin-left: -3%;
  z-index: 5;
  transform: scale(110%);
  margin-top: -3%;
  transition: 0.5s;
  cursor: pointer;
}
#carte2-5 {
  margin-left: -3%;
  margin-top: -2%;
  transition: 0.5s;
  cursor: pointer;
}

#carte2-1 {
  margin-top: -2%;
  transition: 0.5s;
  cursor: pointer;
}

#carte2-2:hover {
  z-index: 20;
  transform: scale(125%);
  margin-top: -5%;
}
#carte2-3:hover {
  z-index: 20;
  transform: scale(125%);
  margin-top: -5%;
}
#carte2-4:hover {
  z-index: 20;
  transform: scale(125%);
  margin-top: -5%;
}
#carte2-5:hover {
  z-index: 20;
  transform: scale(125%);
  margin-top: -5%;
}

#carte2-1:hover {
  z-index: 20;
  transform: scale(125%);
  margin-top: -5%;
}

#deckennemi {
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  margin-top: -53%;
  transform: rotate(180deg);
  margin-right: 10%;
}

.carteennemi {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-left: -80px;
}

.carteennemi img {
  height: 197px;
  width: 143px;
}

#logo {
  position: absolute;
  top: 7px;
  left: 32%;
  transform: scale(60%);
  transition: 0.5s;
}

#logo:hover {
  transform: scale(65%);
}

#hud {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 0px;
  width: 60%;
  top: 955px;
  z-index: 98;
  border-radius: 40px;
  font-size: 50px;
}

#cache {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  margin-top: -74px;
}

#cachecontenu {
  font-family: "planetn";
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(32, 35, 77, 1);
  color: white;
  width: 87%;
  height: 300px;
  border-radius: 50px;
  border: white solid 1px;
  transition: 0.5s;
}

#cachecontenu:hover {
  transform: scale(102%);
}

#fond {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 100;
  margin-top: -95px;
  z-index: -1;
}

#fond img {
  height: 110%;
}

#setjeton1 {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  margin-top: -37%;
  transform: rotate(180deg);
  left: 170px;
}

.jetonastronaute {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-left: -50px;
}

.jetonastronaute img {
  height: 100px;
  width: 100px;
}

#setjeton2 {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  margin-top: -25%;
  transform: rotate(180deg);
  left: 170px;
}

.jetonsachet {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-left: -50px;
}

.jetonsachet img {
  height: 100px;
  width: 100px;
}

#setjeton3 {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  margin-top: -13%;
  transform: rotate(180deg);
  left: 170px;
}

.jetonoxygene {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-left: -50px;
}

.jetonoxygene img {
  height: 100px;
  width: 100px;
}

#setjeton4 {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  margin-top: 11%;
  transform: rotate(180deg);
  left: 170px;
}

.jetoncommande {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-left: -50px;
}

.jetoncommande img {
  height: 100px;
  width: 100px;
}

#setjeton5 {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  margin-top: 23%;
  transform: rotate(180deg);
  left: 170px;
}

.jetonpistolet {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-left: -50px;
}

.jetonpistolet img {
  height: 100px;
  width: 100px;
}
#setjeton6 {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  margin-top: 35%;
  transform: rotate(180deg);
  left: 170px;
}

.jetonsatellite {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-left: -50px;
}

.jetonsatellite img {
  height: 100px;
  width: 100px;
}
#setjetonbonus {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  margin-top: -1%;
  transform: rotate(180deg);
  left: 170px;
}

.jetonbonus {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-left: 0px;
}

.jetonbonus img {
  height: 100px;
  width: 100px;
}

#setjeton7 {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  margin-top: 47%;
  transform: rotate(180deg);
  left: 170px;
}

.jetonvaisseau {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-left: -50px;
}

.jetonvaisseau img {
  height: 100px;
  width: 100px;
}

.jeton {
  transition: 0.5s;
  cursor: pointer;
}

.jeton:hover {
  transform: scale(105%);
}

@media (max-width: 1700px) {
  section {
    height: 770px;
  }

  #setjeton1 {
    left: 120px;
    margin-top: -39%;
  }

  #setjeton2 {
    margin-top: -26%;
    left: 120px;
  }

  #setjeton3 {
    margin-top: -13%;
    left: 120px;
  }

  #setjeton4 {
    margin-top: 13%;
    left: 120px;
  }

  #setjetonbonus {
    margin-top: 0%;
    left: 120px;
  }

  #setjeton5 {
    margin-top: 26%;
    left: 120px;
  }
  #setjeton6 {
    margin-top: 39%;
    left: 120px;
  }
  #setjeton7 {
    margin-top: 52%;
    left: 120px;
  }
  .jetonsatellite img {
    width: 80px;
    height: 80px;
  }
  .jetonastronaute img {
    width: 80px;
    height: 80px;
  }
  .jetonpistolet img {
    width: 80px;
    height: 80px;
  }
  .jetonsachet img {
    width: 80px;
    height: 80px;
  }
  .jetonoxygene img {
    width: 80px;
    height: 80px;
  }
  .jetonbonus img {
    width: 80px;
    height: 80px;
  }
  .jetonvaisseau img {
    width: 80px;
    height: 80px;
  }
  .jetoncommande img {
    width: 80px;
    height: 80px;
  }
  .jetonbonus {
    margin-left: -20px;
  }
  .carte img {
    height: 220px;
    width: 160px;
  }

  #pioche {
    top: 120px;
    left: 385px;
    height: 200px;
    width: 145px;
    margin-left: 0%;
    margin-top: 1%;
  }

  #pioche img {
    height: 200px;
    width: 150px;
    margin-left: 2%;
    margin-top: 0%;
    border-radius: 10px;
  }

  #emplacement1 {
    width: 145px;
    height: 200px;
    margin-top: 1.8%;
    margin-left: 37%;
    border-radius: 20px;
  }

  #emplacement2 {
    border: 4px dashed rgb(255, 255, 255);
    width: 200px;
    height: 145px;
    margin-top: 1.9%;
    margin-left: 2%;
    border-radius: 20px;
  }

  .carteennemi {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin-left: -100px;
  }

  .carteennemi img {
    height: 185px;
    width: 133px;
  }

  #deckennemi {
    margin-top: -55%;
    margin-right: 15%;
  }

  #hud {
    height: 0px;
    width: 60%;
    top: 800px;
    z-index: 98;
  }

  #cache {
    height: 130%;
  }
}
